<div class="widget" id="harvest_widget_auth" style="visibility: visible;">
  <div name="harvest_auth" id="harvest_auth">
      <h5>Harvest Time Tracking</h5>
      

      <div id="harvest_auth_buttons">
          <div style="height:65px;">
              <button type="button" class="btn" form="harvest_auth" onclick="harvest_time();">Install</button>
          </div>   
      </div>
  </div>
</div>

<script>
  var harvest_context = {}
  var context_id
  var samanage_times = [ // https://devinstestaroo.samanage.com/incidents/24269255/time_tracks.json
    {
      "id": 1923810,
      "name": "Did some of the first stuff",
      "href": "https://devinstestaroo.samanage.com/incidents/24269255/time_tracks/1923810.json",
      "created_at": "2018-04-19T19:25:46.000Z",
      "updated_at": "2018-04-19T19:25:46.000Z",
      "minutes": 120,
      "parent": {
        "id": 24269255,
        "class": "incident",
        "href": "https://devinstestaroo.samanage.com/incidents/24269255.json"
      },
      "creator": {
        "id": 2821593,
        "name": "Devin",
        "disabled": false,
        "title": "Overlord",
        "email": "devin.janus+admin@samanage.com",
        "created_at": "2017-12-20T21:48:45.000Z",
        "last_login": "2018-04-06T19:10:51.000Z",
        "phone": "919-586-0000",
        "mobile_phone": ""
      },
    },
    {
      "id": 1923811,
      "name": "did the middle stuff",
      "href": "https://devinstestaroo.samanage.com/incidents/24269255/time_tracks/1923811.json",
      "created_at": "2018-04-19T19:26:00.000Z",
      "updated_at": "2018-04-19T19:26:00.000Z",
      "minutes": 90,
      "parent": {
        "id": 24269255,
        "class": "incident",
        "href": "https://devinstestaroo.samanage.com/incidents/24269255.json"
      },
      "creator": {
        "id": 2821593,
        "name": "Devin",
        "disabled": false,
        "title": "Overlord",
        "email": "devin.janus+admin@samanage.com",
        "created_at": "2017-12-20T21:48:45.000Z",
        "last_login": "2018-04-06T19:10:51.000Z",
        "phone": "919-586-0000",
        "mobile_phone": ""
      }
    },
    {
      "id": 1923815,
      "name": "did the last stuff",
      "href": "https://devinstestaroo.samanage.com/incidents/24269255/time_tracks/1923815.json",
      "created_at": "2018-04-19T19:26:11.000Z",
      "updated_at": "2018-04-19T19:26:11.000Z",
      "minutes": 90,
      "parent": {
        "id": 24269255,
        "class": "incident",
        "href": "https://devinstestaroo.samanage.com/incidents/24269255.json"
      },
      "creator": {
        "id": 2821593,
        "name": "Devin",
        "disabled": false,
        "title": "Overlord",
        "email": "devin.janus+admin@samanage.com",
        "created_at": "2017-12-20T21:48:45.000Z",
        "last_login": "2018-04-06T19:10:51.000Z",
        "phone": "919-586-0000",
        "mobile_phone": ""
      }
    }
  ]

  setlocal = (response) => {
    console.log('harvest >> local storage set: \n> ' + JSON.stringify(response))
  }

  contextRecievedHandler = (response) => {
    if (response.context_type == 'Incident') {
      harvest_context['samanage'] = response
      context_id = response.context_id
    }
  }

  platformWidgetHelper.getContextObject(contextRecievedHandler)

  fetch(`/harvest/data/${harvest_context.samanage.assignee.user_id}`)
    .then((res) => res.json())
    .then((data) => {
      harvest_context['harvest'] = data
      console.log('harvest >> context object:\n' + JSON.stringify(harvest_context))
      if (harvest_context.harvest.tokens) {
        if (!harvest_context.harvest.user_data) getHarvestUserData()
        toggleHarvestAuthorizedView()
      }
    })
  .catch(e => console.log(`>> ERROR >> ${e}`))

  function harvest_time() {
    console.log('>>> harvest_time() called')
    launchHarvestAuth(harvest_context.harvest.harvest_id)
  }

  function launchHarvestAuth(client_id) {
    var redirect = "https://samanage-widgets.herokuapp.com/harvest/oauth"
    var url = `https://id.getharvest.com/oauth2/authorize?client_id=${client_id}&response_type=code&state=${harvest_context.samanage.assignee.user_id}`

    console.log(`harvest >>> client_id: ${client_id}`)
    console.log(`harvest >>> url: ${url}`)

    window.open(url, "", "width=650px, height=750px, alwaysRaised=yes")
  }

  function getHarvestUserData() {
    var accounts_url = "https://id.getharvest.com/api/v2/accounts"
    var payload = { headers: { "Authorization": `Bearer ${harvest_context.harvest.tokens.access_token}` } }
    payload.headers["User-Agent"] = "Samanage + Harvest Time Tracking (devin.janus@samanage.com)"
    var auth = JSON.stringify(payload)

    platformWidgetHelper.callSamanageAPI(harvestUserData, 'GET', accounts_url, auth)
  }

  harvestUserData = (response) => {
    if (!response.error) {
      console.log(`harvest_time >>> got user data back:\n${JSON.stringify(response)}`)
      response = JSON.parse(response)
      harvest_context.harvest.user_data = response.user
      harvest_context.harvest.user_data['accounts'] = []

      var promise_accounts = []

      response.accounts.forEach((account) => {
        var harvest_account = {
          id: account.id,
          name: account.name,
          project_assignments: []
        }

        harvest_context.harvest.user_data.accounts.push(harvest_account)
        promise_accounts.push(getHarvestTasksProjects(account.id))
      })

      Promise.all(promise_accounts).then(() => {
        console.log(`\nharvest_time >>> new context object:\n${JSON.stringify(harvest_context)}`)
      }).then(() => {
        populateAccountDD()
        populateProjectTaskDD()
      }).catch((e) => {
        console.log(e)
      })
    }
  }

  function getHarvestTasksProjects(account_id) {
    return new Promise((resolve, reject) => {
      console.log(`harvest_time >>> getting projects/tasks for account: ${account_id}`)

      var projects_url = `https://api.harvestapp.com/v2/users/me/project_assignments`
      var auth = JSON.stringify({
        headers: {
          "Authorization": `Bearer ${harvest_context.harvest.tokens.access_token}`,
          "User-Agent": "Samanage + Harvest Time Tracking (devin.janus@samanage.com)",
          "Harvest-Account-Id": account_id
        }
      })

      platformWidgetHelper.callSamanageAPI((response) => {
        console.log(`harvest_time >>> get tasks response:\n${JSON.stringify(response)}`)
        response = JSON.parse(response)

        if (response.error) return reject(response.error)
        
        harvest_context.harvest.user_data.accounts.forEach((account) => {
          if (account.id === account_id) {
            account.project_assignments = response.project_assignments
            console.log(`harvest_time >>> new harvest before resolve:\n${JSON.stringify(harvest_context)}`)
            return resolve()
          }
        })
      }, 'GET', projects_url, auth)
    })
  }


  function toggleHarvestAuthorizedView() {    
    var harvest_authed_view = document.createElement('div')

    harvest_authed_view.className = 'harvest_authed_view'
    harvest_authed_view.id = 'harvest_authed_view'

    harvest_authed_view.innerHTML = `
      <div class="samanage_table" id="samanage_table">
      </div>
      
      <div class="harvest_send_time">
          <form id="harvest_time_form">
              <div class="form-group row" style="margin-bottom: 5px;">
                  <label for="harvest_account" class="col-2 col-form-label col-form-label-sm">Account</label>
                  <div class="col-10">
                      <select class="form-control form-control-sm harvest_dropdown" id="harvest_account" onchange="populateProjectTaskDD();"></select>
                  </div>            
              </div>

              <div class="form-group row" style="margin-bottom: 5px;">
                  <label for="harvest_projects" class="col-2 col-form-label col-form-label-sm">Project</label>
                  <div class="col-10">
                      <select class="form-control form-control-sm harvest_dropdown" id="harvest_projects" name="havest_projects"></select>
                  </div>                  
              </div>

              <div class="form-group row" style="margin-bottom: 5px;">
                  <label for="harvest_tasks" class="col-2 col-form-label col-form-label-sm">Task</label>
                  <div class="col-10">
                      <select class="form-control form-control-sm harvest_dropdown" id="harvest_tasks" name="harvest_tasks"></select>
                  </div>
              </div>

              <div class="form-row align-items-center">
                  <div class="col-2"></div>
                  <div class="col-3 form-group">
                      <input type="time" pattern="[0-9]{2}:[0-9]{2}" class="form-control form-control-sm" id="harvest_start_input">
                  </div>
                  to
                  <div class="col-3 form-group">
                      <input type="time" pattern="[0-9]{2}:[0-9]{2}" class="form-control form-control-sm" id="harvest_end_input">
                  </div>

                  <div class="col-2 form-group">
                      <button id="harvest_timer_button" class="btn btn-success" onclick="harvestStartTimer();">
                          <span><i class="fas fa-stopwatch fa-sm" style="color: white;"></i></span>
                      </button>
                  </div>
                  <div class="col-2"></div>
                  <small class="form-text text-muted">\"Start\" default is current time. Leave \"End\" blank to start Harvest timer</small>
              </div>

              <button id="harvest_send_time_button" class="btn btn-to-external" onclick="harvestSendTime();">
                  Send Time Tracks From Samanage &nbsp; <span><i class="fas fa-chevron-right fa-sm"></i></span>
              </button>
          </form>
      </div>
    `

    var samanage_times_table = document.createElement('table')
    samanage_times_table.id = 'samanage_times_table'
    samanage_times_table.className = 'table'

    var samanage_times_table_header = document.createElement('thead')
    samanage_times_table_header.innerHTML = `
      <tr>    
          <th>Created At</th>
          <th>Time Spent</th>
          <th>Notes</th>
      </tr>
    `

    var samanage_times_table_body = document.createElement('tbody')

    samanage_times_table.appendChild(samanage_times_table_header)
    samanage_times_table.appendChild(samanage_times_table_body)
    
    for (var i = 0; i < samanage_times.length; i++) {
      var timestamp = new Date(samanage_times[i].created_at)
      var tr = samanage_times_table_body.insertRow(-1)
      tr.innerHTML = `
          <td>${timestamp.toDateString()}</td>
          <td>${samanage_times[i].minutes} minutes</td>
          <td>${samanage_times[i].name}</td>
      `
    }

    var harvest_login_view = document.getElementById('harvest_auth_buttons')
    harvest_login_view.parentNode.replaceChild(harvest_authed_view, harvest_login_view)

    document.getElementById('samanage_table').appendChild(samanage_times_table)
  }

  function populateAccountDD() {
    var harvest_account_list = document.getElementById('harvest_account')

    for (var i = 0; i < harvest_context.harvest.user_data.accounts.length; i++) {
      var option = document.createElement('OPTION')
      option.innerHTML = harvest_context.harvest.user_data.accounts[i].name
      option.value = harvest_context.harvest.user_data.accounts[i].id
      option.setAttribute('class', 'form-control')
      harvest_account_list.options.add(option)
    }
  }

  function populateProjectTaskDD() {
    var account_id = document.getElementById('harvest_account').value

    console.log(`havest_time >>> populating dropdowns for account: ${account_id} now...`)
    var projects = document.getElementById('harvest_projects')
    var tasks = document.getElementById('harvest_tasks')
    var found_account = harvest_context.harvest.user_data.accounts.find(x => x.id == account_id)
    var all_projects = found_account.project_assignments


    console.log(`harvest_time >>> found account in context: ${found_account}\n\n${all_projects}`)
    
    for (var i = 0; i < all_projects.length; i++) {
      var project_assignment = all_projects[i]
      var proj_option = document.createElement('OPTION')
      
      proj_option.innerHTML = project_assignment.project.name
      proj_option.value = project_assignment.project.id
      proj_option.setAttribute('class', 'form-control')
      projects.options.add(proj_option)

      for (var j = 0; j < project_assignment.task_assignments.length; j++) {
        var task_option = document.createElement('OPTION')
        
        task_option.innerHTML = project_assignment.task_assignments[j].task.name
        task_option.value = project_assignment.task_assignments[j].task.id
        task_option.setAttribute('class', 'form-control')
        tasks.options.add(task_option)
      }
    }
  }

  function getSamanageTimes() {

  }

  
  // post request to harvest timesheets api --> create via Duration
  // params to send: project_id, task_id, spent_date, hours, notes, external reference
  // contingent on if end-user has "track time via duration" in settings
  // will want to eventually explore options for handling if they dont have that setting 
  // --> i.e. starting harvest timer from ticket? 
  // maybe this is how we determine whether or not there is ability to directly enter time into harvest w/o adding to
  // Samanage ticket? 
  // ** if hours field is not provided then is_running is set to true 
  // (could use for live tracking that maybe sends times back to samanage after timer stops?)
  // should users be allowed to select times they want to send from Samanage --> Harvest or should it just send all?
  function harvestSendTime() { 
    var project_id = document.getElementById('harvest_projects').value
    var task_id = document.getElementById('harvest_tasks').value

    console.log(`harvest_time >>> sending time tracks to harvest for\nproject: ${project_id}  task: ${task_id}`)

    var promise_times = []

    samanage_times.forEach((time) => {
      var time_entry = {
        project_id: project_id,
        task_id: task_id,
        spent_date: time.created_at,
        hours: (Number(time.minutes)/60).toPrecision(2),
        notes: `${time.name}\n${time.parent.href}`
      }

      promise_times.push(sendHarvestTimeEntry(time_entry))
    })

    Promise.all(promise_times).then(() => {
      console.log('harvest_time >>> success!')
      var harvest_button = document.getElementById('harvest_send_time_button')
      var harvest_time_sent = `
        <div class=success">
            Samanage Times are Synced with Harvest
        </div>
      `
      harvest_button.parentNode.replaceChild(harvest_time_sent, harvest_button)
    }).catch(e => console.log(e))
  }


  function sendHarvestTimeEntry(time_entry) {
    return new Promise((resolve, reject) => {
      var account_id = document.getElementById('harvest_account').value
      var time_url = 'https://api.harvestapp.com/v2/time_entries'
      var payload = {
        headers: {
          "Authorization": `Bearer ${harvest_context.harvest.tokens.access_token}`,
          "User-Agent": "Samanage + Harvest Time Tracking (devin.janus@samanage.com)",
          "Harvest-Account-Id": account_id,
          "Content-Type": "application/json"
        },
        data: time_entry
      }

      platformWidgetHelper.callSamanageAPI((response) => {
        console.log(`harvest_time >>> send time entry response:\n${JSON.stringify(response)}`)
        response = JSON.parse(response)
        if (response.error) return reject(response.error)
        return resolve()
      }, 'POST', time_url, payload)
    })
  }
  
</script>