<div class="widget" id="logmein_widget">
    <div name="logmein" id="logmein" style="text-align: center; margin: 10px;">
        <div id="logmein_form">
            <form id="logmein_auth">
                <div class="form-group row">
                    <label for="logmein_email" class="col-3 col-form-label col-form-label-sm" style="text-align: right;">Email</label>
                    <div class="col-9">
                        <input type="email" class="form-control form-control-sm" id="logmein_email" name="email" placeholder="Rescue User" onFocus="this.placeholder=''" onblur="this.placeholder='Rescue User'" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="logmein_pw" class="col-3 col-form-label col-form-label-sm" style="text-align: right;">Password</label>
                    <div class="col-9">
                        <input type="password" class="form-control form-control-sm" id="logmein_pw" name="pw" placeholder="Rescue Password" onFocus="this.placeholder=''" onblur="this.placeholder='Rescue Password'" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" form="logmein_auth">Sign In</button>
            </form>
        </div>
    </div>
</div>

<script>
  var context_id
  var comment_json
  var logmein_context = {}
  var logmein_errors = {
    'ERROR': 'An unspecified error occured',
    'INVALID': 'The password or email were incorrect',
    'INVALIDPARAM_NODE': 'The node (id) provided is not the id of the existing user',
    'NOTLOGGEDIN': 'Current user is not logged in',
    'NOTTECHNICIAN': 'PIN was not requested by a technician',
    'OUTOFPINCODES': 'Out of PIN codes - contact your administrator',
    'POLLRATEEXCEEDED': 'You have concurrently requested too many PINs',
    'INVALID_SECRETAUTHCODE': 'Authcode was invalid',
    'USER_IS_DELETED': 'The user whose authorization code was specified is deleted',
    'USER_DELETED_OR_DISABLED': 'The user whose authorization code was specified is deleted or disabled',
    'INVALIDPINFORMAT': 'The format of the PIN code is incorrect'
  }

  setlocal = (response) => {
    console.log('\nlogmein >>> local storage set: ' + JSON.stringify(response))
  }

  getlocal = (response) => {
    console.log('\nlogmein >>> getting local storage: ' + response)
    if (response) {
      if (typeof(response) == 'object') {
        response = JSON.parse(response)
        console.log(`>>> ${JSON.stringify(response)}`)
        if (response.logmein !== undefined) {
          console.log('logmein >>> toggling authorized view...')
          logmein_context['logmein'] = response.logmein
          toggleLogmeinAuthorizedView()
        }
      }
    }
  }

  contextRecievedHandler = (response) => {
    if (response.context_type == 'Incident') {
      context_id = response.context_id
      logmein_context = response
      platformWidgetHelper.show()
      platformWidgetHelper.getUserInfo((user_info) => {
        var user_id = user_info.id
        console.log(`\nlogmein >>> current user: ${user_id}`)
        platformWidgetHelper.getStorage(user_id, getlocal)
      })
    }
  }

  platformWidgetHelper.getContextObject(contextRecievedHandler)

  document.getElementById("logmein_auth").addEventListener("submit", logmein)

  function logmein(event) {
    event.preventDefault()
    console.log('widget >>> logmein() called')
    var email = document.getElementById("logmein_email").value
    var pw = document.getElementById("logmein_pw").value
    var url = `https://secure.logmeinrescue.com/api/requestAuthCode.aspx?email=${email}&pwd=${pw}`

    platformWidgetHelper.callExternalAPI('GET', url, null, getAuth)
  }

  function toggleLogmeinAuthorizedView() {
    var logmein_authed_view = document.createElement('div')

    logmein_authed_view.className = 'logmein_authed_view'
    logmein_authed_view.id = 'logmein_authed_view'

    logmein_authed_view.innerHTML = `
      <div class="logmein_generate_session" id="logmein_generate_session">
          <button id="logmein_generate_button" class="btn btn-primary" onclick="logmeinSessionView();">
              Generate Session Code
          </button>
      </div>
    `
    var logmein_form = document.getElementById('logmein_form')
    logmein_form.parentNode.replaceChild(logmein_authed_view, logmein_form)
  }

  function logmeinSessionView() {
    var code = logmein_context.logmein.token
    var pin_url = `https://secure.logmeinrescue.com/api/requestPINCode.aspx?notechconsole=1&authcode=${code}&tracking0=${context_id}`

    platformWidgetHelper.callExternalAPI('GET', pin_url, null, getPin)
  }

  getAuth = (response) => {
    console.log(`logmein >>> getAuth response: \n${response}`)
    var code = response.split('AUTHCODE:')[1]
    logmein_context['logmein'] = { token: code }
    console.log(`logmein >>> logmein_context => \n${JSON.stringify(logmein_context)}`)

    platformWidgetHelper.getUserInfo((user_info) => {
      console.log(`logmein >>> platform.getUserInfo: \n${JSON.stringify(user_info)}`)
      logmein_context['logmein'] = { token: code }
      var user_id = user_info.id
      var logmein_storage = {
        "logmein": {
          "token": code
        }
      }
      
      console.log(`logmein >>> setting local storage...\nkey: ${user_id}\nstorage: ${JSON.stringify(logmein_storage)}`)
      platformWidgetHelper.setStorage(user_id, logmein_storage, setlocal)
    })


    var pin_url = `https://secure.logmeinrescue.com/api/requestPINCode.aspx?notechconsole=1&authcode=${code}&tracking0=${context_id}`
    platformWidgetHelper.callExternalAPI('GET', pin_url, null, getPin)
  }

  getPin = (response) => {
    console.log(`>>> getPin response: \n${response}`)
    var data = response
    if (data.indexOf('OK') == -1) {
      var e = new Error(data)
      handleError(e)
    } else {
      var pin = data.split('PINCODE:')[1]
      var link = `https://secure.logmeinrescue.com/R?i=2&Code=${pin}`
      var click = "window.open('" + link + "', '_blank')"      
      comment_json = {
        comment: {
          body: `<![CDATA[
                    Click <a href="${link}">here</a> to launch your Rescue session.
                ]]>`,
          is_private: false
        }
      }

      var current_view = document.getElementById('logmein_authed_view')
      if (current_view == undefined || null) current_view = document.getElementById('logmein_form')

      var logmein_widget_view = document.createElement('div')
      
      logmein_widget_view.className = 'logmein_widget_view'
      logmein_widget_view.id = 'logmein_widget_view'
      logmein_widget_view.innerHTML = `
        <div class="success">
            <p style="margin-top: 10px;">Your session Pin is:</p>
            <h6 id="pin">${pin}</h6>
        </div>

        <div style="margin-top: 15px; margin-bottom: 10px;">
            <button type="button" class="btn btn-sm btn-primary" onclick="postComment();">
                <span><i class="fas fa-chevron-left"></i></span>  
                &nbsp; Send Link &nbsp;
            </button>

            <button type="button" class="btn btn-sm btn-outline-dark" onclick="logmeinSessionView();">
                New Code &nbsp;
                <span><i class="fas fa-sync"></i></span>
            </button>
        </div>
      `
      current_view.parentNode.replaceChild(logmein_widget_view , current_view)
    }
  }
    

  function postComment() {
    console.log(`>>> about to post comment: ${JSON.stringify(comment_json)}`)
    // platformWidgetHelper.callSamanageAPI('POST', `/incidents/${context_id}/comments.json`, comment_json, (response) => {
    //   console.log('>>> Samanage API response:\n' + JSON.stringify(response))
    //   var error_message = document.getElementById('error')
    //   if (document.contains(error_message)) {
    //     error_message.remove()
    //   }
    // })
  }


  const handleError = (e) => {
    console.log(`logmein >>> handling error: ${e}`)
    var parsedError = e.toString().split('Error: ')[1].trim()
    var details
    if (parsedError in logmein_errors) {
      if (parsedError == 'INVALID_SECRETAUTHCODE') {
        var logmein_form = document.getElementById('logmein_form')
        var logmein_generate_session = document.getElementById('logmein_generate_session')
        logmein_generate.parentNode.replaceChild(logmein_form, logmein_generate_session)

      } else details = logmein_errors[parsedError] 
    } else {
      details = 'An unknown error occured'
    }

    var logmein = document.getElementById('logmein')
    var error = document.createElement('div')
    error.innerHTML =  `<div class="error" id="error"><p>${e}</p><p>${details}</p></div>`

    var error_message = document.getElementById('error')
    if (document.contains(error_message)) {
      parent = error_message.parentNode
      parent.replaceChild(error, error_message)
    } else {
      logmein.parentNode.appendChild(error)
    }
  }
</script>

</body>
</html>