<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>

<div class="console">
    <div class="incident_search_area d-flex">
        <form id="incident_search_form">
            <div class="form-group">
              <label for="incident_number">Incident</label>
              <input type="text" class="form-control" id="incident_number" placeholder="Enter an Incident Number">
            </div>
            <button type="button" class="btn btn-small btn-outline-dark" onclick="getSamanageIncident();">Search</button>        
        </form>
    </div>
    
    <div class="info_container_area">
        <ul class="nav nav-tabs" id="info_nav" style="font-size: 12px;">
            <li class="active">
                <a data-toggle="tab" href="#incident_info">Incident</a>
            </li>
            <li>
                <a data-toggle="tab" href="#widget_info">Widget</a>
            </li>
        </ul>
    </div>

    <div class="tab-content" style="font-size: 11px;">
      <div id="incident_info" class="tab-pane active">
          This is where we will render our Incident JSON
      </div>
      
      <div id="widget_info">
          This is where we will inspect our widget output
      </div>
    </div>

</div>

<script>
  $(document).ready(() => {
    $(".nav-tabs a").click(() => {
      $(this).tab('show')
    })
  })
</script>