<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>

<div class="console">
    <div class="incident_search_area d-inline-flex">
        <input type="text" class="form-control" id="incident_number_input" placeholder="Incident Number" onFocus="this.placeholder=''" onblur="this.placeholder='Incident Number'" style="margin-right: 10px;" />
        <button type="button" class="btn btn-sm btn-outline-dark" id="incident_search_btn" onclick="getSamanageIncident();" style="margin-left: 10px;">Search</button>        
    </div>
    
    <div class="info_container_area">
        <ul class="nav nav-tabs" id="info_nav" role="tablist" style="font-size: 12px;">
            <li class="nav-item  active"><a class="nav-link" data-toggle="tab" href="#incident_info" role="tab">Incident</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#widget_info" role="tab">Widget</a></li>
        </ul>

        <div class="tab-content" style="font-size: 11px;">
            <div id="incident_info" class="tab-pane fade active" role="tabpanel">
                <p>This is where we will render our Incident JSON</p>
            </div>
            
            <div id="widget_info" class="tab-pane fade" role="tabpanel">
                <p>This is where we will inspect our widget output</p>
            </div>
        </div>

    </div>

    

</div>

<script>
  $("#info_nav a").click(function() {
    $(this).tab('show')
  })

  function getSamanageIncident() {
    var incident_pane = document.getElementById('incident_info')
    var incident_number = document.getElementById('incident_number_input').value
    if (incident_number == undefined || null) incident_pane.innerHTML = `<p></p>`
    else {
      var url = `https://api.samanage.com/incidents.json?number=${incident_number}`
      fetch('/samanage/incident', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ url: url })
      }).then(res => res.json()).then((data) => {
        console.log(`got response from getSamanageIncident() >>> ${JSON.stringify(data)}`)
        incident_pane.innerHTML = `<p><small>${JSON.stringify(data, undefined, 2)}</small></p>`
      })
    }
  }

</script>