<div class="container" id="tv_widget_auth" style="visibility: visible;">
    <div name="teamviewer_auth" id="teamviewer_auth">
        <div class="form-header">
            <h2>TeamViewer Remote Session</h2>
        </div>

        <div id="auth_buttons">
            <div style="height:65px;">
                <button type="button" class="btn" form="tv_auth" onclick="teamviewer()">Install</button>
                <button type="button" class="btn" id="hidebtn" onclick="platformWidgetHelper.hide()">Hide Widget</button>
            </div>   
        </div>
        
    </div>
</div>

<script>
  var context
  var context_id

  setlocal = (response) => {
    console.log('> local storage set: \n> ' + JSON.stringify(response))
  }

  contextRecievedHandler = (response) => {
    if (response.context_type == 'Incident') {
      console.log('Context type is incident --> calling show()')
      context = response
      context_id = response.context_id
      platformWidgetHelper.show()
    }
  }

  platformWidgetHelper.getContextObject(contextRecievedHandler)

  fetch(`/tv/data/${context.assignee.user_id}`)
    .then((res) => res.json())
    .then((data) => {
      context['tv_data'] = data
      console.log('>> context object:\n' + JSON.stringify(context))
      if (context.tv_data.tokens) {
        toggleAuthorizedView()
      }
    })
  .catch(e => console.log(`>> ERROR >> ${e}`))

  function teamviewer() {
    console.log('>>> teamviewer() called')

    launchAuth(context.tv_data.tv_id)
  }

  function launchAuth(client_id) {
    var redirect = "https://samanage-widgets.herokuapp.com/tv/oauth"
    var url = `https://login.teamviewer.com/oauth2/authorize?response_type=code&client_id=${client_id}&redirect_uri=${redirect}&state=${context.assignee.user_id}`

    console.log(`>>> client_id: ${client_id}`)
    console.log(`>>> url: ${url}`)

    window.open(url, "", "width=650px, height=750px, alwaysRaised=yes")
  }

  var authorized_view = `
    <div class="session_code" style="display: inline-block; width: 220px; margin: 5px;">
        <label style="float: left;">Session Code:</label> 
        <p id="code"></p>
    </div>

    <div class="customer_link" style="display: inline-block; width: 220px; margin: 5px;">
        <label style="float: left;">Customer Link:</label> 
        <p id="customer_link"></p>
    </div>

    <div class="tech_link" style="display: inline-block; width: 220px; margin: 5px;">
        <label style="float: left;">Supporter Link:</label> 
        <p id="tech_link"></p>
    </div>
  `

  function toggleAuthorizedView() {
    var login_view = document.getElementById('auth_buttons')
    var widget_view = document.createElement('div')

    widget_view.className = 'widget_view'
    widget_view.id = 'widget_view'
    widget_view.innerHTML = authorized_view
    
    login_view.parentNode.replaceChild(widget_view, login_view)

    if (!document.getElementById('code').value) createSession()
  }

  function createSession() {
    let body_json = {
      groupname: `Samanage ${context.number}`,
      description: context.description,
      end_customer: {
        name: context.requester.name
      },
      custom_api: `{ "incident_id": ${context.context_id} }`
    }

    fetch(`/tv/sessions/new/${context.assignee.user_id}`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(body_json)
    }).then((res) => res.json())
      .then((data) => {
        console.log(`>>> Success! response data: ${JSON.stringify(data)}`)
        document.getElementById('code').innerHTML = data.code
        document.getElementById('customer_link').innerHTML = data.end_customer_link
        document.getElementById('tech_link').innerHTML = data.supporter_link
      })
    .catch(e => console.log(e))
  }

</script>

