<div class="container" id="tv_widget" style="visibility: visible;">
    <div name="teamviewer_auth" id="teamviewer_auth">
        <div class="form-header">
            <h2>TeamViewer Remote Session</h2>
        </div>

        <div id="tv_auth_buttons">
            <div style="height:65px;">
                <button type="button" class="btn session" form="tv_auth" onclick="teamviewer();">Install</button>
            </div>   
        </div>
        
    </div>
</div>

<script>
  var teamviewer_context = {}
  var context_id

  setlocal = (response) => {
    console.log('teamviewer >> local storage set: \n> ' + JSON.stringify(response))
  }

  contextRecievedHandler = (response) => {
    if (response.context_type == 'Incident') {
      teamviewer_context = response
      context_id = response.context_id
    }
  }

  platformWidgetHelper.getContextObject(contextRecievedHandler)

  fetch(`/tv/data/${teamviewer_context.assignee.user_id}`)
    .then((res) => res.json())
    .then((data) => {
      teamviewer_context['tv_data'] = data
      console.log('teamviewer >> context object:\n' + JSON.stringify(teamviewer_context))
      if (teamviewer_context.tv_data.tokens) {
        toggleTeamviewerAuthorizedView()
      }
    })
  .catch(e => console.log(`>> ERROR >> ${e}`))

  function teamviewer() {
    console.log('>>> teamviewer() called')

    launchTeamviewerAuth(teamviewer_context.tv_data.tv_id)
  }

  function launchTeamviewerAuth(client_id) {
    var redirect = "https://samanage-widgets.herokuapp.com/tv/oauth"
    var url = `https://login.teamviewer.com/oauth2/authorize?response_type=code&client_id=${client_id}&redirect_uri=${redirect}&state=${teamviewer_context.assignee.user_id}`

    console.log(`teamviewer >>> client_id: ${client_id}`)
    console.log(`teamviewer >>> url: ${url}`)

    window.open(url, "", "width=650px, height=750px, alwaysRaised=yes")
  }

  function toggleTeamviewerAuthorizedView() {
    var teamviewer_login_view = document.getElementById('tv_auth_buttons')
    var teamviewer_authed_view = document.createElement('div')

    teamviewer_authed_view.className = 'teamviewer_authed_view'
    teamviewer_authed_view.id = 'teamviewer_authed_view'
    teamviewer_authed_view.innerHTML = `
      <div class="teamviewer_generate_session">
          <button id="teamviewer_generate_button" class="btn session" onclick="teamviewerSessionView();">
              Generate Session Code
          </button>
      </div>
    `

    teamviewer_login_view.parentNode.replaceChild(teamviewer_authed_view, teamviewer_login_view)
  }

  function teamviewerSessionView() {
    createTeamveiwerSession().then(() => {
      var teamviewer_authed_view = document.getElementById('teamviewer_authed_view')
      var tv_widget_view = document.createElement('div')

      tv_widget_view.className = 'tv_widget_view'
      tv_widget_view.id = 'tv_widget_view'
      tv_widget_view.innerHTML = `
        <div class="teamviewer_session"> 
            <p id="teamviewer_code">Session Code: ${teamviewer_context.session_data.code}</p> 
            <div class="btn_item">
                <button id="new_code_btn">
                    <img src="https://samanage-widgets.herokuapp.com/images/refresh_icon2.png" type="image/png" alt="New Code" width="12px;" height=12px;" style="padding-top: 1px;" onclick="createSession();" />
                </button>
            </div>
        </div>
        
        <div style="margin-top: 5px; margin-bottom: 10px;">
            <div class="tv_buttons">
                <button type="button" id="tech_session" class="btn session" onclick="window.open('${teamviewer_context.session_data.supporter_link}', '_blank');">
                    Go To Session  
                    <img src="https://samanage-widgets.herokuapp.com/images/new_window.png" height="13px;" width="13px;" style="filter:invert(100%); padding-top: 2px; padding-left: 2px;"/>
                    <span class="tooltip" id="tech_link_tt" style="font-size: 9px;">${teamviewer_context.session_data.supporter_link}</span>
                </button>
            </div>
        </div>

        <div class="teamviewer_custom_msg_area">
            <textarea id="custom_message" cols="40" rows="6">Please use the link below to connect to your remote support session:\n\n${teamviewer_context.session_data.end_customer_link}</textarea>
        </div>

        <div style="margin-top: 5px;">
            <div class="tv_buttons"> 
                <button type="button" id="customer_session" class="btn session" onclick="linkToTicket();">
                    <img src="https://samanage-widgets.herokuapp.com/images/chevron-left.png" height="13px;" width="10px;" style="float:left;"/>
                    Post Customer Link to ticket
                    <span class="tooltip" id="customer_link_tt">${teamviewer_context.session_data.end_customer_link}</span>
                </button>
            </div>
        </div>
      `
      teamviewer_authed_view.parentNode.replaceChild(tv_widget_view, teamviewer_authed_view)
    }).catch((e) => {
      console.log('teamviewer >>> createSession() Error caught in sessionView()\n>> ' + e)
    })
  }

  function createTeamviewerSession() {
    let body_json = {
      groupname: "Samanage",
      description:  `Incident #${teamviewer_context.number} - ${teamviewer_context.description}`,
      end_customer: {
        name: teamviewer_context.requester.name
      },
      waiting_message: 'Please wait while your Service Agent connects to the session', // this should be configurable for the customer later
      custom_api: `{ "incident_id": ${teamviewer_context.context_id} }`
    }

    return fetch(`/tv/sessions/new/${teamviewer_context.assignee.user_id}`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(body_json)
    }).then((res) => res.json())
      .then((data) => {
        console.log(`>>> response data: ${JSON.stringify(data)}`)
        if (data.error) {
          throw new Error(data.error)
        } else {
          teamviewer_context['session_data'] = { code: data.code, end_customer_link: data.end_customer_link, supporter_link: data.supporter_link }
          var teamviewer_code = document.getElementById("teamviewer_code")
          if (typeof(teamviewer_code) != 'undefined' && teamviewer_code != null) teamviewer_code.innerHTML = `Session Code: ${teamviewer_context.session_data.code}`
          var tech_session = document.getElementById("tech_session")
          if (typeof(tech_session) != 'undefined' && tech_session != null) tech_session.onclick = `"window.open('${teamviewer_context.session_data.supporter_link}', '_blank');"`
          var tech_link_tt = document.getElementById("tech_link_tt")
          if (typeof(tech_link_tt) != 'undefined' && tech_link_tt != null) tech_link_tt.innerHTML = `${teamviewer_context.session_data.supporter_link}`
          var customer_link_tt = document.getElementById("customer_link_tt")
          if (typeof(customer_link_tt) != 'undefined' && customer_link_tt != null) customer_link_tt.innerHTML = `${teamviewer_context.session_data.end_customer_link}`
          var custom_message = document.getElementById("custom_message")
          if (typeof(custom_message) != 'undefined' && custom_message != null) custom_message.innerHTML = `Please use the link below to connect to your remote support session:\n\n${teamviewer_context.session_data.end_customer_link}`
        }
      })
    .catch((e) => {
      console.log('teamviewer >>> Error caught in createSession:\n>>' + e)
      if (data.error == "token_expired") return refreshTeamviewerOauth()
    })
  }

  function linkToTicket() {
    console.log('!! This is where we would call the SamanageApi !!')
    var message_area = document.getElementById("custom_message")
    var comment_body = message_area.innerHTML
    if (message_area.innerHTML.length > 1) comment_body = `Please use the link below to connect to your remote support session:\n\n${teamviewer_context.session_data.end_customer_link}`

    var comment_json = {
      comment: {
        body: comment_body,
        is_private: false
      }
    }
  }

  function refreshTeamviewerOauth() {
    console.log('teamviewer >>> refreshing oauth')
    return fetch(`/tv/${teamviewer_context.assignee.user_id}/oauth`)
      .then((res) => res.json())
      .then((data) => {
        console.log(`>>> refresh token response data: ${JSON.stringify(data)}`)
        return createTeamviewerSession()
      })
      .catch(err => console.log('\nteamviewer >>> unable to refresh token: ' + err))
  }
</script>
<!-- <script type="text/javascript" src="https://integratedchat.teamviewer.com/widget"></script> -->