<div class="container" id="tv_widget_auth" style="visibility: visible;">
    <div name="teamviewer_auth" id="teamviewer_auth">
        <div class="form-header">
            <h2>TeamViewer Remote Session</h2>
        </div>

        <div id="auth_buttons">
            <div style="height:65px;">
                <button type="button" class="btn" form="tv_auth" onclick="teamviewer();">Install</button>
                <button type="button" class="btn" id="hidebtn" onclick="platformWidgetHelper.hide();">Hide Widget</button>
            </div>   
        </div>
        
    </div>
</div>

<script>
  var teamviewer_context = {}
  var context_id

  setlocal = (response) => {
    console.log('teamviewer >> local storage set: \n> ' + JSON.stringify(response))
  }

  contextRecievedHandler = (response) => {
    if (response.context_type == 'Incident') {
      teamviewer_context = response
      context_id = response.context_id
      // platformWidgetHelper.show()
    }
  }

  platformWidgetHelper.getContextObject(contextRecievedHandler)

  fetch(`/tv/data/${teamviewer_context.assignee.user_id}`)
    .then((res) => res.json())
    .then((data) => {
      teamviewer_context['tv_data'] = data
      console.log('teamviewer >> context object:\n' + JSON.stringify(teamviewer_context))
      if (teamviewer_context.tv_data.tokens) {
        toggleAuthorizedView()
      }
    })
  .catch(e => console.log(`>> ERROR >> ${e}`))

  function teamviewer() {
    console.log('>>> teamviewer() called')

    launchAuth(teamviewer_context.tv_data.tv_id)
  }

  function launchAuth(client_id) {
    var redirect = "https://samanage-widgets.herokuapp.com/tv/oauth"
    var url = `https://login.teamviewer.com/oauth2/authorize?response_type=code&client_id=${client_id}&redirect_uri=${redirect}&state=${teamviewer_context.assignee.user_id}`

    console.log(`teamviewer >>> client_id: ${client_id}`)
    console.log(`teamviewer >>> url: ${url}`)

    window.open(url, "", "width=650px, height=750px, alwaysRaised=yes")
  }

  function toggleAuthorizedView() {



    createSession().then(() => {
      var login_view = document.getElementById('auth_buttons')
      var widget_view = document.createElement('div')

      widget_view.className = 'widget_view'
      widget_view.id = 'widget_view'
      widget_view.innerHTML = `
        <div class="teamviewer_session"> 
            <p id="teamviewer_code">Session Code: ${teamviewer_context.session_data.code}</p> 
            <div class="btn_item">
                <button id="new_code_btn">
                    <img src="https://samanage-widgets.herokuapp.com/images/refresh_icon2.png" type="image/png" alt="New Code" width="12px;" height=12px;" onclick="createSession();" />
                </button>
            </div>
        </div>
        
        <div style="margin-top: 5px; margin-bottom: 10px;">
            <div class="tv_buttons">
                <button type="button" id="tech_session" class="btn session" onclick="window.open('${teamviewer_context.session_data.supporter_link}', '_blank');">
                    Go To Session  
                    <img src="https://samanage-widgets.herokuapp.com/images/new_window.png" height="12px;" width="12px;" style="filter:invert(100%); padding-top: 1px;"/>
                    <span class="tooltip" id="tech_link_tt" style="font-size: 9px;">${teamviewer_context.session_data.supporter_link}</span>
                </button>
            </div>
        </div>

        <div class="teamviewer_custom_msg_area">
            <textarea id="custom_message" cols="40" rows="6" style="resize:none; height:100px; width:250px;">
              Please use the link below to connect to your remote support session\n\n
              <a href="${teamviewer_context.session_data.end_customer_link}">${teamviewer_context.session_data.end_customer_link}</a>
            </textarea>
        </div>

        <div style="margin-top: 5px;">
            <div class="tv_buttons"> 
                <button type="button" id="customer_session" class="btn session" onclick="linkToTicket();">
                    <img src="https://samanage-widgets.herokuapp.com/images/chevron-left.png" height="13px;" width="10px;" style="float:left;"/>
                    Post Customer Link to ticket
                    <span class="tooltip" id="customer_link_tt">${teamviewer_context.session_data.end_customer_link}</span>
                </button>
            </div>
        </div>
      `
      login_view.parentNode.replaceChild(widget_view, login_view)
    }).catch((e) => {
      console.log('teamviewer >>> Error caught at createSession().catch() in toggleAuth\n>> ' + e)
    })
  }

  function createSession() {
    let body_json = {
      groupname: "Samanage",
      description:  `Incident #${teamviewer_context.number} - ${teamviewer_context.description}`,
      end_customer: {
        name: teamviewer_context.requester.name
      },
      waiting_message: 'Please wait while your Service Agent connects to the session',
      custom_api: `{ "incident_id": ${teamviewer_context.context_id} }`
    }

    return fetch(`/tv/sessions/new/${teamviewer_context.assignee.user_id}`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(body_json)
    }).then((res) => res.json())
      .then((data) => {
        console.log(`>>> response data: ${JSON.stringify(data)}`)
        if (data.error) {
          throw new Error(data.error)
        } else {
          teamviewer_context['session_data'] = { code: data.code, end_customer_link: data.end_customer_link, supporter_link: data.supporter_link }
          var teamviewer_code = document.getElementById("teamviewer_code")
          if (typeof(teamviewer_code) != 'undefined' && teamviewer_code != null) teamviewer_code.innerHTML = `Session Code: ${teamviewer_context.session_data.code}`
        }
      })
    .catch((e) => {
      console.log('teamviewer >>> Error caught at .catch() in createSession\n>> ' + e + '\n     >>> attempting to refresh token now...')
      refreshOauth()
    })
  }

  function linkToTicket() {
    console.log('!! This is where we would call the SamanageApi !!')
    var message_area = document.getElementById("custom_message")
    var comment_body = message_area.placeholder
    if (message_area.innerHTML.length > 1) comment_body = message_area.innerHTML

    var comment_json = {
      comment: {
        body: comment_body,
        is_private: false
      }
    }
  }

  function refreshOauth() {
    fetch(`/tv/${teamviewer_context.assignee.user_id}/oauth`)
      .then((res) => res.json())
      .then((data) => {
        console.log(`>>> refresh token response data: ${JSON.stringify(data)}`)
        teamviewer_context['session_data'] = { code: data.code, end_customer_link: data.end_customer_link, supporter_link: data.supporter_link }
      }).catch(err => console.log('\nteamviewer >>> unable to refresh token: ' + err))
  }
</script>
<script type="text/javascript" src="https://integratedchat.teamviewer.com/widget"></script>