<div class="container" id="tv_widget" style="visibility: visible;">
    <div name="teamviewer" id="teamviewer">
        <div class="form-header">
            <h2>TeamViewer Remote Session</h2>
        </div>

        <div style="height:65px;">
            <button type="button" class="btn" form="tv_auth" onclick="teamviewer()">Install</button>
            <button type="button" class="btn" id="hidebtn" onclick="platformWidgetHelper.hide()">Hide Widget</button>
        </div>   
    </div>
</div>

<script>
  var context_id    

  setlocal = (response) => {
    console.log('local storage set: ' + JSON.stringify(response))
  }

  contextRecievedHandler = (response) => {
    if (response.context_type == 'Incident') {
      console.log('Context type is incident --> calling show()')
      context_id = response.context_id
      platformWidgetHelper.show()
    }
  }

  platformWidgetHelper.getContextObject(contextRecievedHandler)

  function teamviewer() {
    console.log('>>> teamviewer() called')

    getClientId()
      .then(launchAuth)
      .catch(e => console.log(`>> ERROR >>  ${e}`))
  }

  function getClientId() {
    return fetch('/tv/data').then((res) => {
      return res.json()
    }).then((data) => {
      console.log('> data: ' + JSON.stringify(data))
      var tv_id = data.tv_id
      return tv_id
    }).catch(e => console.log(`>> ERROR >>  ${e}`))
  }

  function launchAuth(client_id) {
    var redirect = "https://samanage-widgets.herokuapp.com/tv/oauth"
    var url = `https://login.teamviewer.com/oauth2/authorize?response_type=code&client_id=${client_id}&redirect_uri=${redirect}`

    console.log(`>>> client_id: ${client_id}`)
    console.log(`>>> url: ${url}`)

    return fetch(url).then((res) => {
      return res.json()
    }).then((data) => {
      console.log(`>>> response: ${data}`)
      var win = window.open(url, "", "width=650px, height=400px, alwaysRaised=yes")
      return win
    }).catch(e => console.log(`>> ERROR >>  ${e}`))
  }

  // function getCode(url) {
  //   console.log('>>> retrieving teamviewer code')
  //   return fetch(url).then((res) => {
  //     return res.text()
  //   }).then((data) => {
  //     console.log('>>> ' + data)
  //     return data
  //   }).catch((err) => {
  //     handleError(err)
  //     return Promise.reject('>>> ' + err)
  //   })
  // }

  // function getAuth(code) {
  //   console.log('>>> posting for teamviewer oauth token')

  //   var client_id = document.getElementById("tv_id").value
  //   var redirect = "https://samanage-widgets.herokuapp.com/"
  //   var url = `webapi.teamviewer.com/grant_type=authorization_code&code=${code}&redirect_uri=${redirect}&client_id=${client_id}`
    
  //   fetch(url, {
  //     headers: {
  //       "Content-Type": "application/x-www-form-urlencoded"
  //     },
  //     method: 'POST'
  //   }).then((res) => {
  //     return res.json()
  //   }).then((data) => {
  //     console.log('>>> data: ' + data)
  //   })
  // }
  
</script>

