<div class="widget" id="timer_widget">
    <div id="timer">
        <div class="timer-label">
            <div>Hours</div>
            <div class="wrapper">
                <div class="pie spinner" id="hours-spinner"></div>
                <div class="pie filler" id="hours-filler"></div>
                <div class="mask" id="hours-mask"></div>
            </div>
        </div>
        
        
        <div class="timer-label">
            <div>Mins</div>
            <div class="wrapper">
                <div class="pie spinner" id="mins-spinner"></div>
                <div class="pie filler" id="mins-filler"></div>
                <div class="mask" id="mins-mask"></div>
            </div>
        </div>
        
        <div class="timer-label">
            <div>Sec</div>
            <div class="wrapper">
                <div class="pie spinner" id="sec-spinner"></div>
                <div class="pie filler" id="sec-filler"></div>
                <div class="mask" id="sec-mask"></div>
            </div>
        </div>
        
      <div class="timer-numbers">
          <span id="hours" class="timer-text">00:</span>
          <span id="mins" class="timer-text">00:</span>
          <span id="seconds" class="timer-text">00</span> 
      </div>
        
    </div>
    
    <div id="controls">
        <button id="start" onclick="startTimer();">Start</button>
        <button id="pause">Pause</button>
        <button id="stop">Stop</button>
    </div>
</div>

<style>
#timer {
  font-size:18px;
  margin:0 auto;
}

#controls {
  margin:0 auto;
}

#controls button {
  font-size:14px;
}

.timer-label {
  display: inline-flex;
}

.wrapper {
  position: relative;
  margin: 10px auto;
  display: inline-flex;
  background: white;
  width: 50px;
  height: 50px;
}

.wrapper, .wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  border: 2px solid rgba(84,105,141,0.9);
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
}

.wrapper .spinner,
.wrapper .filler,
.wrapper .mask {
  animation-play-state: paused;
}

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  border-left: none;
}

.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
}

.wrapper .mask#hours-mask, {
  animation: opa 1200s steps(1, end) infinite;
  animation-play-state: paused
}

.wrapper .mask#mins-mask {
  animation: opa 60s steps(1, end) infinite;
  animation-play-state: paused
}

.wrapper .mask#sec-mask {
  animation: opa 1s steps(1, end) infinite;
  animation-play-state: paused
}

.wrapper .filler#hours-filler {
  animation: opa 1200s steps(1, end) infinite reverse;
  animation-play-state: paused
}

.wrapper .filler#mins-filler {
  animation: opa 60s steps(1, end) infinite reverse;
  animation-play-state: paused
}

.wrapper .filler#sec-filler {
  animation: opa 1s steps(1, end) infinite reverse;
  animation-play-state: paused
}

.wrapper .spinner#hours-spinner {
  animation: rota 1200s linear infinite;
  animation-play-state: paused
}

.wrapper .spinner#mins-spinner {
  animation: rota 60s linear infinite;
  animation-play-state: paused
}

.wrapper .spinner#sec-spinner {
  animation: rota 1s linear infinite;
  animation-play-state: paused
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
</style>
  
  
<script>
var hours = 0
var mins = 0
var seconds = 0
var timex

document.getElementById('pause').onclick = () => { clearTimeout(timex); setAnimationState('paused'); }

document.getElementById('stop').onclick = () => {
  hours = 0;      mins = 0;      seconds = 0;
  document.getElementById('hours').innerText = '00:'
  document.getElementById('mins').innerText = '00:'
  document.getElementById('seconds').innerText = '00'

  resetAnimation()

  // here we calculate the difference and send to time tracks in Samanage
}

function resetAnimation() {
  var pies = document.getElementsByClassName('pie')
  var masks = document.getElementsByClassName('mask')

  for (var i = 0; i < pies.length; i++) {
    pies[i].style.animation = 'none'
    pies[i].offsetHeight
    pies[i].style.animation = null
  }

  for (var i = 0; i < masks.length; i++) {
    masks[i].style.animation = 'none'
    masks[i].offsetHeight
    masks[i].style.animation = null
  }
}

function setAnimationState(state) {
  var pies = document.getElementsByClassName('pie')
  var masks = document.getElementsByClassName('mask')

  for (var i = 0; i < pies.length; i++) {
    pies[i].style.animationPlayState = state
  }

  for (var i = 0; i < masks.length; i++) {
    masks[i].style.animationPlayState = state
  }
}

function startTimer () {
  setAnimationState('running')
  timex = setTimeout(function() {
    seconds++
    if (seconds > 59) {
      seconds = 0
      mins++
      if (mins > 59) {
        mins = 0
        hours++
        if (hours < 10) document.getElementById("hours").innerText = '0'+hours+':'
        else document.getElementById("hours").innerText = hours+':'
      }
                       
    if (mins < 10) document.getElementById("mins").innerText = '0'+mins+':' 
    else document.getElementById("mins").innerText = mins+':'
  }

  if (seconds < 10) document.getElementById("seconds").innerText = '0'+seconds
  else  document.getElementById("seconds").innerText = seconds

  startTimer()
  }, 1000)
}
    
  
  </script>