<div class="widget" id="timer_widget">
    <div id="timer">
        <div class="wrapper">
            <div class="pie spinner"></div>
            <div class="pie filler"></div>
            <div class="mask"></div>
        </div>    
        <span id="hours" class="timer-text">00:</span>
        

        <div class="wrapper">
            <div class="pie spinner"></div>
            <div class="pie filler"></div>
            <div class="mask"></div>
        </div>
        <span id="mins" class="timer-text">00:</span>
        
        <div class="wrapper">
            <div class="pie spinner"></div>
            <div class="pie filler"></div>
            <div class="mask"></div>
        </div>
        <span id="seconds" class="timer-text">00</span> 
    </div>
    
    <div id="controls">
        <button id="start" onclick="startTimer();">Start</button>
        <button id="pause">Pause</button>
        <button id="stop">Stop</button>
    </div>
</div>

<style>
#timer {
  font-size:18px;
  margin:0 auto;
}

#controls {
  margin:0 auto;
}

#controls button {
  font-size:14px;
}


.wrapper {
  position: relative;
  margin: 10px auto;
  background: white;
  width: 100px;
  height: 100px;
}

.wrapper, .wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: #08C;
  border: 5px solid rgba(0,0,0,0.5);
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rota 5s linear infinite;
}

.wrapper:hover .spinner,
.wrapper:hover .filler,
.wrapper:hover .mask {
  animation-play-state: running;
}

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: opa 5s steps(1, end) infinite reverse;
  border-left: none;
}

.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  animation: opa 5s steps(1, end) infinite;
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
</style>
  
  
<script>
var hours = 0
var mins = 0
var seconds = 0

document.getElementById('pause').onclick = () => clearTimeout(timex)

document.getElementById('stop').onclick = () => {
  hours = 0;      mins = 0;      seconds = 0;
  document.getElementById('hours').innerText = '00:'
  document.getElementById('mins').innerText = '00:'
  document.getElementById('seconds').innerText = '00'

  // here we calculate the difference and send to time tracks in Samanage
}

function startTimer () {
  timex = setTimeout(function() {
    seconds++
    if (seconds > 59) {
      seconds = 0
      mins++
      if (mins > 59) {
        mins = 0
        hours++
        if (hours < 10) document.getElementById("hours").innerText = '0'+hours+':'
        else document.getElementById("hours").innerText = hours+':'
      }
                       
    if (mins < 10) document.getElementById("mins").innerText = '0'+mins+':' 
    else document.getElementById("mins").innerText = mins+':'
  }

  if (seconds < 10) document.getElementById("seconds").innerText = '0'+seconds
  else  document.getElementById("seconds").innerText = seconds

  startTimer()
  }, 1000)
}
    
  
  </script>