* {
  box-sizing: border-box
}

html, body {
  height: 100%;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

.container, .container-fluid {
  min-height: 100%;
  overflow: hidden;
  background: #002a55;
  height: 100vh;
}

.widgets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  height: 100vh !important;
  margin: 0 auto 0 auto;
  background: #002a55;
}

.widget {
  margin-left: 26px;
  margin-right: 26px;
  margin-top: 10px;
  font-family:'Open Sans', jaf-bernina-sans, tahoma, geneva, sans-serif;
  background: #FFFFFF;
  border: 1px, solid, #D8DDE6;
  font-size: 14px;
  color: #54698D;
  text-align: center;
  width: inherit;
  min-width: 300px !important;
  max-width: 425px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  height: auto !important;
}

.btn-primary {
  width: 100%;
  max-width: 332px;
  min-width: 220px;
  height: 34px;
  color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #D8DDE6;
  font-size: 14px;
  background: #0069D5;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
  padding: 0%;
}

.btn-primary:active:hover {
  background: #1688FD;
}

.btn-primary-inverted {
  width: 100%;
  max-width: 332px;
  min-width: 220px;
  height: 34px;
  background: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #D8DDE6;
  font-size: 14px;
  color: #0069D5;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
  padding: 0%;
}

.btn-primary-inverted:active:hover {
  background: #1688FD;
  color: #FFFFFF;
}

button:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 1px , rgba(22, 136, 253, 0.50);
  -moz-box-shadow: 0px 0px 5px 1px rgba(22, 136, 253, 0.50);
  box-shadow: 0px 0px 5px 1px rgba(22, 136, 253, 0.50);
}

button:disabled {
  background: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #D8DDE6;
  color: #D8DDE6;
}

.info {
  min-height: 100%;
  background: #fff;
}

.console {
  margin-top: 15px;
  will-change: overflow;
}

.incident_search_area {
  font-size: 13px !important;
}

.incident_search_area#incident_number_input {
  font-size: 13px !important;
}

table {
  width: 100%;
}

td, th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 1px;
  font-size: 10px;
}

td {
  text-align: left;
}

th {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media screen and (max-width: 1275px) {
  .widget {
    width: 296px;
  }
}

@media screen and (max-width: 1600px) {
  .widget {
    width: 376px;
  }
}


input {
  width: 98%;
  max-width: 322px;
  min-width: 220px;
  height: 32px;
  border-style: solid !important;
  border-color: #D8DDE6 !important;
  border-width: 1px !important;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 7px;
}

input:focus {
  outline: none;
}

.session {
  float: none;
  width: 280px !important;
  margin-top: 3px;
}

.success {
  background-color: #d4edda;
  border: 2px solid #9fe2ae;
  border-radius: 5px;
}

.success #pin {
  font-size: 19px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 17px;
  letter-spacing: 2px;
}

.error {
  background-color: #eea3a3;
  border: 2px solid #db5353;
  border-radius: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

/* tooltips */
.tv_buttons {
  position: relative;
  display: inline-block;
}

.tv_buttons .tooltip {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 11px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 45%;
  margin-left: -133px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tv_buttons .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tv_buttons:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.teamviewer_session {
  width: 345px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.btn_item {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}

#new_code_btn {
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 0px !important;
  background: #fff;
}

#tech_session {
  /* background: #00a6e7 !important; */
  text-shadow: none;
  padding-top: 1px !important;
  padding-bottom: 3px !important;
  /* height: 24px;
  width: 220px !important; */
}

.btn-to-external {
  background: #eeefff !important;
  color: #000 !important;
  text-shadow: none;
}

.custom_message {
  cursor: text;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: start;
  text-indent: 0%;
  resize: none;
  height: 80px;
  width: 325px;
  min-width: 295px;
}

#harvest_notes {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: start;
  text-indent: 0%;
  resize: none;
}

#info_tab_content {
  margin-top: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch !important;
  -ms-overflow-style: none !important;
  font-size: 11px;
  background: #fff;
}

#info_tab_content::-webkit-scrollbar {
  display: none;
}

#loading-icon {
  display: none;
  margin-left: 10px;
  justify-content: center;
  padding: 10px;
}

.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}