html, body {
  height: 100%;
}

.container, .container-fluid {
  min-height: 100%;
  overflow: hidden;
  background: #002a55;
}

.widgets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  height: 100vh !important;
  margin: 0 auto 0 auto;
  background: #002a55;
  font-family: -apple-system, 'Segoe UI', sans-serif;
}

.info {
  min-height: 100%;
  background: #fff;
}

.console {
  margin-top: 15px;
}

.incident_search_area {
  font-size: 13px !important;
}

.incident_search_area#incident_number_input {
  font-size: 13px !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1px;
  font-size: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */

.widget {
  background: #fff;
  border-radius: 5px;
  border: #1980b9 2px solid;
  padding: 10px;
  max-width: 400px !important;
  min-width: 296px !important;
  margin: 10px;
  text-align: center;
  flex-shrink: 0;
  height: auto !important;
}

/* .form-header {
  width: 100%;
  max-width: 370px;
}

form {
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.05) rgba(0,0,0,.08) rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0,0,0,.05);
}

label {
  display: inline-block;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #ff0076;
  text-transform: uppercase;
}

input {
  width: 300px;
  padding: 8px;
  margin: 3px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background: #fff;
  font: inherit;
  font-size: 12px;
  display: block;
}

input:focus {
  outline: none;
  border-color: rgba(0,0,0,.3);
}

.form-field {
  margin: 5px;
} */

/* .btn {
  float: left;
  width: 145px;
  padding: 5px;
  background: #00aa56;
  border: 1px solid rgba(0,0,0,.1);
  border-width: 1px 1px 3px;
  border-radius: 3px;
  font: inherit;
  font-size: 0.7em;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 11px;
  margin-right: 11px;
  color: rgb(218, 218, 218);
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.2);
} */

/* .btn:hover,
.btn:focus {
  outline: none;
  background: #002a55;
} */

/* .btn:active {
  transform: translateY(1px);
} */

#hidebtn {
  background: #666;
}

#showbtn {
  float: center;
  width: 280px;
  background: #666;
  margin: 10px;
}

.session {
  float: none;
  width: 280px !important;
  margin-top: 3px;
}

.success {
  background-color: #d4edda;
  border: 2px solid #9fe2ae;
  border-radius: 20px;
}

.success #success {
  font-size: 16px;
  font-weight: 500;
  color: #0e411a;
  margin-top: 18px;
  margin-bottom: 3px;
}

.success #pin {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 17px;
  letter-spacing: 2px;
}

.error {
  background-color: #eea3a3;
  border: 2px solid #db5353;
  border-radius: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

/* tooltips */
.tv_buttons {
  position: relative;
  display: inline-block;
}

.tv_buttons .tooltip {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 11px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 45%;
  margin-left: -133px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tv_buttons .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tv_buttons:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.teamviewer_session {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 270px 40px;
  width: 345px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

#teamviewer_code {
  grid-column: 1;
  grid-row: 1;
  font-size: 13px;
}

.btn_item {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}

#new_code_btn {
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 0px !important;
  background: #fff;
}

#tech_session {
  background: #00a6e7 !important;
  text-shadow: none;
  padding-top: 1px !important;
  padding-bottom: 3px !important;
  height: 24px;
  width: 220px !important;
}

#customer_session {
  background: #eeefff !important;
  color: #000 !important;
  text-shadow: none;
}

#custom_message {
  cursor: text;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: start;
  text-indent: 0%;
  resize: none;
  height: 80px;
  width: 325px;
}

